<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>UNES - Página principal</title>
</head>
<body background="{% static 'polls/fundo.png' %}">
    <table border="0" width="900" align="center">
        <tr>
            <td height="89"><img src="{% static 'polls/logo.png' %}"></td>
            <td align="right">
                <a href="home">Home</a> |
                <a href="quem-somos">Quem somos</a> |
                <a href="contato">Contato</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="{% static 'polls/capa.png' %}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Sobre a universidade</h2>
                <p>
                    Lorem <strong>ipsum dolor</strong> sit <em>amet</em>, consectetur adipiscing elit. Donec aliquet
                    bibendum neque. Sed purus augue, rhoncus egestas ullamcorper in, vehicula at arcu. Sed vel
                    sollicitudin sem. Nulla vulputate posuere tellus, vitae bibendum eros facilisis a. Duis scelerisque
                    felis id dolor lobortis, ut finibus orci consectetur. Donec sit amet gravida lorem. Phasellus
                    dignissim malesuada lectus, a tempor ante posuere eu. Suspendisse nec sollicitudin tortor. Aliquam
                    mattis nibh sit amet quam suscipit imperdiet. Pellentesque et ex in libero porta fringilla. Quisque
                    a rutrum turpis, imperdiet tincidunt quam.
                </p>
                <p>
                    Nunc pulvinar lacinia mauris malesuada lobortis. Maecenas eget est quis ipsum mattis aliquam id et
                    elit. Pellentesque eget diam lobortis, placerat eros eu, consequat lorem. Donec commodo nisl ac
                    tincidunt luctus. In mattis quis nisi sed efficitur. Mauris mauris turpis, pulvinar in tincidunt eu,
                    maximus sed velit. Ut at felis eget risus porttitor porta id et tortor. Pellentesque eget metus eget
                    augue aliquet interdum. Mauris fringilla dictum massa in tristique. Fusce tincidunt tempor erat, id
                    dignissim tellus lobortis at. Maecenas dictum nisl ut justo rutrum, in sodales lectus sodales. Sed
                    fermentum, velit eget accumsan ultrices, ligula neque luctus nisi, non sagittis nisi tortor ut
                    mauris. Curabitur nec ipsum viverra, porta erat in, dapibus diam. Nam lorem purus, posuere ut
                    venenatis vel, finibus at leo. Aliquam interdum magna et purus consequat, non facilisis ante
                    venenatis.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <h4>Todos os direitos reservados</h4>
            </td>
        </tr>
    </table>
</body>
</html>