<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Anna Bella Campanhas publicitárias</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls2/estilo.css' %}">
</head>
<body>
    <div id="principal">
        <img src="{% static 'polls2/capa.png' %}">
        <div id="menu">
            <a href="home">HOME</a> |
            <a href="biografia">BIOGRAFIA</a> |
            <a href="campanhas-publicitarias">CAMPANHAS PUBLICITÁRIAS</a> |
            <a href="contato">CONTATO</a>
        </div>
        <div id="conteudo"><!-- comentário -->
            <h1>Campanhas publicitárias</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla mollis sapien, ac viverra ipsum
                consectetur in. Praesent ac nisi quam. Mauris non libero tellus. Aliquam lorem tellus, efficitur a
                justo quis, pharetra viverra sapien. In fermentum, felis vel efficitur lobortis, lectus massa varius
                lorem, quis dictum mauris sapien id massa. Proin tempus rhoncus sodales. Fusce pharetra dui risus, eget
                efficitur mauris tempus sed.
            </p>
            <img src="{% static 'polls2/foto1.png' %}" class="img-campanha">
            <p>
                Nulla vitae mollis justo, et pretium erat. Nunc euismod nec tortor a varius. Quisque convallis venenatis
                mauris, sed eleifend mi ullamcorper a. Praesent finibus posuere condimentum. Vestibulum in nulla
                porttitor, ultrices quam ac, blandit dolor. Curabitur aliquam molestie sem, ut euismod nisi vehicula
                molestie. Donec vehicula, nisl in imperdiet bibendum, felis dui lacinia leo, eu vehicula eros enim vel
                metus. Donec ante tellus, posuere vel bibendum et, eleifend vel quam. Mauris tellus lectus, vulputate ac
                nunc nec, vestibulum dictum lorem. Nulla vestibulum lectus id augue ultricies efficitur. Donec vitae
                ligula sed quam fermentum fringilla.
            </p>
            <img src="{% static 'polls2/foto2.png' %}" class="img-campanha">
            <p>
                Morbi quis enim vel dui fermentum ullamcorper vitae at turpis. Ut orci neque, efficitur sed gravida eu,
                vestibulum ut magna. Etiam augue nibh, iaculis vitae felis et, placerat posuere diam. Nulla facilisi.
                Suspendisse id volutpat enim. Quisque lacinia turpis ut eros rhoncus laoreet. Vestibulum placerat eros
                non orci porttitor eleifend. Nulla metus dolor, sodales eget blandit nec, iaculis nec nisl. Cras aliquam
                euismod erat, in vehicula nisi consequat et. Proin euismod placerat ipsum tincidunt tempor. Praesent
                egestas ipsum in est aliquam maximus quis at risus. Nam pretium lectus eu nisi eleifend tincidunt. Nam
                congue ipsum id convallis imperdiet. Vestibulum convallis varius erat eu euismod. Sed cursus feugiat
                sodales.
            </p>
        </div>
        <div id="rodape">
            <h4 class="centralizar">Todos os direitos reservados</h4>
        </div>
    </div>
</body>
</html>